.cards-features > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: var(--spacing-lg);
}

.cards-features > ul > li {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.cards-features .cards-features-card-body {
  margin: var(--spacing-md);
}

.cards-features .cards-features-card-image {
  line-height: 0;
}

.cards-features > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
