.accordion-faq details {
  border: 1px solid var(--border-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion-faq details + details {
  margin-top: var(--spacing-lg);
}

.accordion-faq details p {
  margin-bottom: 0.8em;
}

.accordion-faq details summary {
  position: relative;
  padding: 0 var(--spacing-md);
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion-faq details[open] summary {
  background-color: var(--light-color);
}

.accordion-faq details summary:focus,
.accordion-faq details summary:hover {
  background-color: var(--light-color);
}

.accordion-faq details summary::-webkit-details-marker {
  display: none;
}

.accordion-faq details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion-faq details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion-faq details .accordion-faq-item-body {
  padding: 0 var(--spacing-md);
}

.accordion-faq details[open] .accordion-faq-item-body {
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color);
}
