footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: var(--spacing-2xl) var(--spacing-lg) var(--spacing-lg);
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: var(--spacing-2xl) var(--spacing-xl) var(--spacing-lg);
  }
}
