.hero-vlp-container .hero-vlp-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-vlp {
  position: relative;
  padding: var(--spacing-2xl) var(--spacing-lg);
  min-height: 500px;
  display: flex;
  align-items: flex-end;
}

.hero-vlp > div {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: var(--spacing-2xl) 0;
}

.hero-vlp h1,
.hero-vlp h2,
.hero-vlp h3,
.hero-vlp h4,
.hero-vlp h5,
.hero-vlp h6 {
  color: var(--section-inverse-text);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: var(--spacing-md);
}

.hero-vlp p {
  color: var(--section-inverse-text);
  max-width: 600px;
  margin-bottom: var(--spacing-lg);
}

.hero-vlp.no-image * {
  color: var(--text-color);
}

.hero-vlp picture {
  position: absolute;
  z-index: -1;
  inset: 0;
}

.hero-vlp img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-vlp a.button {
  background-color: var(--brand-primary);
  color: var(--brand-primary-text);
  border: none;
  padding: 12px var(--spacing-lg);
  font-weight: 600;
  text-transform: uppercase;
}

.hero-vlp a.button:hover {
  background-color: var(--brand-primary-hover);
}

.hero-vlp a.button.secondary {
  background-color: transparent;
  border: 2px solid var(--section-inverse-text);
}

.hero-vlp a.button.secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (width >= 900px) {
  .hero-vlp {
    padding: var(--spacing-3xl) var(--spacing-xl);
    min-height: 600px;
  }
}
